*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    padding:30px 0;
}

.container{
    width:90%;
    max-width:700px;
    background:rgba(255,255,255,0.95);
    border-radius:25px;
    padding:30px;
    box-shadow:0 25px 50px rgba(0,0,0,0.3);
}

/* Header */
.header{
    text-align:center;
    margin-bottom:30px;
}

.header img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:6px solid #667eea;
    margin-bottom:18px;
}

.header h1{
    font-size:32px;
}

.header h3{
    color:#667eea;
    font-weight:500;
}

.location{
    margin-top:5px;
    color:#666;
}

.summary{
    margin-top:10px;
    color:#444;
}

/* Vertical column layout */
.column{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* Cards */
.card{
    padding:20px;
    border-radius:20px;
    color:#333;
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

.card h2{
    margin-bottom:12px;
}

/* Colors */
.purple{background:linear-gradient(135deg,#d4bfff,#f3e7ff);}
.orange{background:linear-gradient(135deg,#ffd3a5,#fd6585);}
.blue{background:linear-gradient(135deg,#a1c4fd,#c2e9fb);}
.pink{background:linear-gradient(135deg,#ff9a9e,#fecfef);}
.dark{background:linear-gradient(135deg,#cfd9df,#e2ebf0);}

/* Skills */
.skills span{
    display:inline-block;
    padding:8px 14px;
    margin:6px;
    border-radius:20px;
    background:#fff;
    font-size:14px;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

/* Hobbies */
.hobbies{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

.hobbies div{
    background:#fff;
    padding:10px;
    border-radius:12px;
    text-align:center;
    font-weight:500;
}

/* Footer */
.footer{
    text-align:center;
    margin-top:30px;
    color:#777;
}
/*facebook */
.facebook-icon{
    display:inline-flex;
    align-items:center;
    gap:8px;
    padding:6px 12px;
    border-radius:20px;
    background:#1877f2; /* Facebook blue */
    color:#fff;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
    font-size:14px;
}

.facebook-icon i{
    font-size:16px;
}

.facebook-icon:hover{
    background:#145dbf;
    transform:scale(1.05);
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.school-link {
    color: blue;
    font-weight: 600;
    text-decoration: none;
}

.school-link:hover {
    text-decoration: underline;
}
.campus-link {
    color: #2563eb;
    font-weight: 600;
    text-decoration: none;
}

.campus-link:hover {
    text-decoration: underline;
}
.hobbies div:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}


